.app{
    margin: 1rem;
    padding: 2rem;
}
.flex {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .flex>div{
      width: 270px;
      text-align: center;
      background-color: #e3e3e3;
      font-size: 1.2rem;
      padding: 0.5rem 0;
      border-radius: 5px;
  }
  .flex button{
      font-size: 1.1rem;
      padding: 0.5rem 1rem;
      width: 200px;
      background-color: #242424;
      border: none;
      color: #e3e3e3;
      border-radius: 5px;
      cursor: pointer;
  }